* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Josefin Sans', serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    background-color: white;
    border-bottom: 5px solid transparent;
    box-shadow: 0 4px 10px -4px orange;
    top: 0;
    z-index: 1000;
    width: 100%; 
}

.gif-container {
    padding-left: 100px;
    transition: transform 0.5s ease;
}

.gif-container:hover {
    transform: scale(1.2);
}

.logo img {
    max-height: 150px;
    max-width: 100%;
}

.navbar {
    display: flex;
    align-items: center;
    gap: 20px;
}

.navbar a {
    padding: 10px;
    text-decoration: none;
    color: black;
    font-family: 'Jua', serif;
    font-weight: 400;
    font-size: 30px;
    font-style: normal;
    transition: color 0.3s ease;
    position: relative;
}

.navbar a::after {
    content: '';  
    position: absolute;
    bottom: 1px; 
    left: 0;
    width: 0;
    height: 4px; 
    background-color: orange;
    border-radius: 2px; 
    transition: width 0.3s ease; 
}

.navbar a:hover::after {
    width: 100%;
}

nav a:hover {
    color: #ff6347; 
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 10px;
    gap: 20px;
}

.text-section {
    max-width: 400px;
    text-align: left;
}

.text-section h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 30px;
}

.text-section p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 15px;
}

.center-image {
    position: relative;
    top: -200px;
}
.center-image img {
    width: 100%;
    max-width: 500px;
    border-radius: 20px;
}

.event-location-banner {
    background-color: orange;
    color: white;
    text-align: left;
    padding: 15px;
    border-radius: 10px;
    margin: 10px auto;
    position: relative;
    top: -100px;
}

.event-location-banner h2 {
    color: black; 
    font-weight: bold; 
}

.event-location-banner ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.event-location-banner li {
    font-size: 24px; 
    line-height: 1.6; 
    margin-bottom: 10px; 
    color: black; 
}

.event-location-banner li strong {
    color: black; 
    font-weight: bold;
}
.map-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    height: auto; 
    padding: 50px; 
    flex-wrap: wrap;
    margin-bottom: 30px; 
}

.map img {
    width: 100%; 
    max-width: 900px; 
    height: auto; 
    border-radius: 20px;
    box-shadow: 0 0 15px rgba(128, 128, 128, 0.8); 
    margin-top: -80px; 

}

.footer {
    background-color: #333; 
    color: white; 
    padding: 20px 20px; 
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
    font-family: 'Josefin Sans', serif;
}

.footer-content ul {
    list-style-type: none;
    padding: 0;
    margin: 20px 0;
}

.footer-content ul li {
    margin: 5px 0;
}

.footer-content a {
    text-decoration: none;
    color: #ff6347; 
    transition: color 0.3s ease;
}

.footer-content a:hover {
    color: #ffa500; 
}

.footer-content p {
    margin: 10px 0;
}
