* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
    font-family: 'Josefin Sans', serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: white;
    border-bottom: 5px solid transparent;
    box-shadow: 0 4px 10px -4px orange;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo img {
    height: 50px;
}

.navbar a {
    display: flex;
    padding: 10px;
    text-decoration: none;
    color: black;
    font-family: 'Jua', serif;
    font-weight: 400;
    font-style: normal;
}

nav a:hover {
    color: #ff6347; 
}


.content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.text-section {
    flex: 1;
    margin-right: 20px;
    text-align: left;
}

.text-section h1 {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 10px;
} 

.text-section p {
    font-size: 1em;
    line-height: 1.5;
    margin-bottom: 15px;
}

.center-image {
    flex: 1;
    display: flex;
    justify-content: flex-end;

}
.center-image img {
    max-width: 100%;
    height: auto;
    max-height: 400px;
}