* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Josefin Sans', serif;
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    background-color: white;
    border-bottom: 5px solid transparent;
    box-shadow: 0 4px 10px -4px orange;
    top: 0;
    z-index: 1000;
    width: 100%; 
}
.gif-container {
    padding-left: 80px;
    transition: transform 0.5s ease;
}

.gif-container:hover {
    transform: scale(1.2);
}

.logo img {
    max-height: 200px;
    max-width: 100%;
}

.navbar {
    display: flex;
    align-items: center;
    gap: 20px;
}

.navbar a {
    padding: 10px;
    text-decoration: none;
    color: black;
    font-family: 'Jua', serif;
    font-weight: 400;
    font-size: 30px;
    font-style: normal;
    transition: color 0.3s ease;
    position: relative;
}

.navbar a::after {
    content: '';  
    position: absolute;
    bottom: 1px; 
    left: 0;
    width: 0;
    height: 4px; 
    background-color: orange;
    border-radius: 2px; 
    transition: width 0.3s ease; 
}

.navbar a:hover::after {
    width: 100%;
}

nav a:hover {
    color: #ff6347; 
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 40px;
}

.text-section {
    max-width: 400px;
    text-align: left;
}

.text-section h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 30px;
}

.text-section p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 15px;
}

.center-image {
    position: relative;
    top: -200px;
}
.center-image img {
    width: 100%;
    max-width: 500px;
    border-radius: 20px;
}

.partners-section {
    text-align: center;  
}

.partner-logos img:hover {
    transform: scale(1.05); 
}

.event-container {
    display: flex;
    align-items: flex-start; 
    padding: 20px; 
    max-width: 1200px;
}

.event-header {
    text-align: center;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    max-width: 800px;
}

.event-header h1 {
    font-size: 24px; 
    font-weight: bold;
    color: orange;
    margin-bottom: 10px;
}

.event-header h2 {
    font-size: 25px;
    font-weight: bold;
    color: #333; 
    margin-bottom: 20px;
}

.event-description {
    text-align: left;
    font-size: 18px; 
    line-height: 1.6;
    color: #333; 
    margin-top: 10px; 
    margin-bottom: 20px;
    padding: 20px 40px; 
    border-left: 4px solid orange; 
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1); 
}

.event-image-one {
    margin-left: 40px;
    margin-top: 30px;
    flex-shrink: 0;
    max-width: 600px; 
    height: 400px; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
}

.event-image-one img {
    width: 100%;
    height: 100%; 

}

.footer {
    background-color: #333; 
    color: white; 
    padding: 20px 20px; 
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
    font-family: 'Josefin Sans', serif;
    margin-top: auto;
}

.footer-content ul {
    list-style-type: none;
    padding: 0;
    margin: 20px 0;
}

.footer-content ul li {
    margin: 5px 0;
}

.footer-content a {
    text-decoration: none;
    color: #ff6347; 
    transition: color 0.3s ease;
}

.footer-content a:hover {
    color: #ffa500; 
}

.footer-content p {
    margin: 10px 0;
}