* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Josefin Sans', serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    background-color: white;
    border-bottom: 5px solid transparent;
    box-shadow: 0 4px 10px -4px orange;
    position: sticky;
    top: 0;
    z-index: 1000;
    width: 100%; 
}

.gif-container {
    padding-left: 100px;
    transition: transform 0.5s ease;
}

.gif-container:hover {
    transform: scale(1.2);
}

.logo img {
    max-height: 150px;
    max-width: 100%;
}

.navbar {
    display: flex;
    align-items: center;
    gap: 20px;
}

.navbar a {
    padding: 10px;
    text-decoration: none;
    color: black;
    font-family: 'Jua', serif;
    font-weight: 400;
    font-size: 30px;
    font-style: normal;
    transition: color 0.3s ease;
    position: relative;
}

.navbar a::after {
    content: '';  
    position: absolute;
    bottom: 1px; 
    left: 0;
    width: 0;
    height: 4px; 
    background-color: orange;
    border-radius: 2px; 
    transition: width 0.3s ease; 
}

.navbar a:hover::after {
    width: 100%;
}

nav a:hover {
    color: #ff6347; 
}

.festival-banner {
    width: 100%; 
    text-align: center; 
    margin-bottom: 20px; 
}

.festival-banner img {
    width: 100%; 
    max-height: 400px; 
    object-fit: cover; 
    border-radius: 10px; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
}

.event-header {
    text-align: center;
    margin: 20px auto;
    padding: 20px;
    background-color: #f8f8f8; 
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
    max-width: 800px;

}

.event-header h1 {
    font-size: 24px; 
    font-weight: bold;
    color: orange;
    margin-bottom: 10px;
}

.event-header h2 {
    font-size: 25px;
    font-weight: bold;
    color: #333; 
    margin-bottom: 20px;
}

.event-description {
    text-align: left;
    font-size: 18px; 
    line-height: 1.6;
    color: #333; 
    margin-top: 10px; 
    margin-bottom: 20px;
    padding: 10px 15px; 
    background-color: #f9f9f9; 
    border-left: 4px solid orange; 
    border-radius: 5px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1); 
}